* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    font-size: 60px;
}

footer h1 {
    font-size: 60px;
}

.animation {
    
    height: 100vh;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    position: relative;
    overflow: hidden;
    

}

.plane {
    height: 100px;
    top: 50%;
    left:0;
    position: absolute;
}